img { margin:0; border-width:0; padding:0; }

html, body, ul, ol, li, dl, dt, dd, p, pre, h1, h2, h3, h4, h5, h6, blockquote, form, fieldset, legend, table, td, th {
    margin:0;
    padding:0;
}

html, body { width: 100%; height: 100%; }

body {
    font-family: 'Comic Sans MS',Arial, Verdana, Helvetica, sans-serif;
    font-size: 90%;
    line-height: 1.5;
    background: url("/resources/image/authorization/bg.png") repeat;
    color: black;
}

input, select, textarea {
    font-size: 12px;
    font-family: "Times New Roman", Arial, Sans-Serif;
    border-radius: 2px;
    border: 1px solid #e1e1e1;
    outline: none;
    padding: 5px 5px 5px 5px;
}
div.movie-session-container{
    border-style: double; /* Стиль рамки вокруг параграфа */
    border-width: 3px 7px 7px 4px; /* Толщина границы */
    padding: 7px
}
.showtimes-line-technology {
    height: 5.5em;
    position: relative;
    border: 1px solid #fff;
    padding: 6px 0px 6px 11px;
    margin-bottom: 2px;
    margin-left: 55px;
}

.showtimes-line-technology:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: #e8f6fc;
    top: 50%;
    left: 0;
}
.showtimes-line-technology a.time {
    color: #fff;
    background-color: #1aa3e0;
    border-radius: 2px;
}
.showtimes-line-technology .time {
    /*position: absolute;*/
    z-index: 100;
    padding: 2px 6px;
}
.showtimes-line-technology .time .options {
    position: absolute;
    z-index: 100;
    padding: 2px 6px;
}
.showtimes-line-technology .time {
    font-size: 85%;
    /*position: relative;*/
}

.cinema-image{
    display: inline-block;
    background-image: -webkit-gradient(radial, 0% 0%, 0% 100%, from(rgba(213,246,255,1)), to(rgba(213,246,255,0)));
}
.cinema_name{
    font-size: 40px;
    margin-left: 100px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 0 1px 0 #ccc,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0, 0, 0, .1),
                0 0 5px rgba(0, 0, 0, .1),
                0 1px 3px rgba(0, 0, 0, .3),
                0 3px 5px rgba(0, 0, 0, .2),
                0 5px 10px rgba(0, 0, 0, .25),
                0 10px 10px rgba(0, 0, 0, .2),
                0 20px 20px rgba(0, 0, 0, .15);
}
.rent_end{
    color: #ff361a;
    font-size: 13px;
}
