:focus {outline: none;}

body {
    font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

#navbar ul {
    display: none;
    background-color: #f90;
    position: absolute;
    top: 100%;
}
#navbar li:hover ul { display: block; }
#navbar, #navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    z-index: 10;
}
#navbar {
    height: 30px;
    background-color: #666;
    padding-left: 25px;
    min-width: 470px;
}
#navbar li {
    float: left;
    position: relative;
    height: 100%;
}
#navbar li a {
    display: block;
    padding: 6px;
    width: 100px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
#navbar li a.selected {
    color: #fefefe;
    background-color: #f90;
}
#navbar ul li { float: none; }
#navbar li:hover { background-color: #f90; }
#navbar ul li:hover { background-color: #666; }


.movie_form{
    z-index: 3;
}

.movie_form h2, .movie_form h3, .movie_form label {
    font-family:Georgia, Times, "Times New Roman", serif;
}

.form_hint, .required_notification {
    font-size: 11px;
}

.movie_form ul {
    width:850px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}

.movie_form li{
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}

.movie_form li:first-child, .movie_form li:last-child {
    border-bottom:1px solid #777;
}

.movie_form h3, .movie_form h2 {
    margin:0;
    display: inline;
}

.movie_form label {
    width:270px;
    margin-top: 3px;
    display: inline-block;
    float:left;
    padding:3px;
}

.movie_form input {
    height:20px;
    width:320px;
    padding:5px 8px;
}
.movie_form input.input_number {
    height:20px;
    width:50px;
    padding:5px 8px;
}

.movie_form input.radio_button {
    height:20px;
    width:20px;
    padding:5px 8px;
}
.movie_form input.radio_button {

    box-shadow: 0px 0px 30px #ccc, 0 10px 15px #eee inset;

    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;

}
.movie_form input.radio_button:focus {
    background: #fff;



}

.movie_form textarea {
    padding:8px;
    width:500px;
}

.movie_form button {
    margin-left:156px;
}

.movie_form input, .movie_form textarea {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
    padding-right:30px;
}
.movie_form input:focus, .movie_form textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
    padding-right:70px;
}
.movie_form input.input_number {
    border:1px solid #aaa;
    box-shadow: 0px 0px 30px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
    padding-right:1px;
}
.movie_form input.input_number:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
    padding-right:2px;
}
.movie_form input:focus:invalid, .movie_form textarea:focus:invalid { /* when a field is considered invalid by the browser */
    background: #fff url(/resources/image/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}
.movie_form input:required:valid, .movie_form textarea:required:valid { /* when a field is considered valid by the browser */
    background: #fff url(/resources/image/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}



/* Button Style */
button.submit , button.select{
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
button.submit:hover, button.select:hover {
    opacity:.85;
    cursor: pointer;
}
button.submit:active, button.select:active{
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;
}




