ul.css-menu-3 {
    list-style: none;
    border-bottom: 5px solid #bb0000;
    border-top: 1px solid #56c2e1;
    padding: 11px;
    background: #3f9db8;
    box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

ul.css-menu-3 li {
    display: inline;
}

ul.css-menu-3 li a {
    color: #1c1e21;
    text-decoration: none;
    background: #56c2e1;
    border: 1px solid #3f9db8;
    border-bottom: 1px solid #3f9db8;
    margin: 0;
    padding: 10px 14px 10px 14px
}
ul.css-menu-3 li a.cabinet {
    color: #fefefe;
    text-decoration: none;
    background: #225588;
    border: 1px solid #225588;
    border-bottom: 1px solid #114477;
    margin: 0;
    padding: 10px 14px 10px 14px
}

ul.css-menu-3 li a:hover {border-left: 1px solid #114477; border-right: 1px solid #114477}

ul.css-menu-3 li a.selected {
    color: #fefefe;
    background: #bb0000;
    border: 1px #cc0000 solid;
    border-bottom: 1px solid #bb0000;
    border-left: 1px solid #770000;
    padding: 10px 14px 10px 14px
}