.cinemaHall {
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.screen {
    /*background-image: url(/resources/image/images/grey_place.jpg);*/
    height: 20px;
    width: 800px;
    margin-right: 3px;
    background-color: #999999;
    display: block;
    cursor: pointer;
}
.seat {
     /*background-image: url(/resources/image/images/grey_place.jpg);*/
     height: 40px;
     width: 30px;
     margin-right: 3px;
     background-color: #999999;
     display: inline-block;
     cursor: pointer;
     color: #999999;
     font-size: 25px;
 }
.seat-sold {
    /*background-image: url(/resources/image/images/grey_place.jpg);*/
    height: 40px;
    width: 30px;
    margin-right: 3px;
    background-color: yellow;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-size: 25px;
}
.seat-booked {
    /*background-image: url(/resources/image/images/grey_place.jpg);*/
    height: 40px;
    width: 30px;
    margin-right: 3px;
    background-color: orange;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-size: 25px;
}
.row_name{
    height: 40px;
    width: 170px;
    margin-left: 20px;
    color: green;
    font-size: 20px;
}
.seat_show{
    /*background-image: url(/resources/image/images/grey_place.jpg);*/
    height: 40px;
    width: 30px;
    margin-right: 3px;
    background-color: #00A0E2;
    border-color: white;
    border: 1px solid;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-size: 25px;
}
.passageBetween {
    height: 10px;
    width: 100%;
    display: block;
}
.bay {
    /*background-image: url(/resources/image/images/red_place.jpg);*/
    background-color: green;
    color: black;
}
.result {
    font-size: 10px;
    display: inline-block;
    width: 90px;
    max-height: 200px;
    overflow-y: auto;
    margin-right: 5px;
}